

.logo {
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    z-index: 900;
    border-radius: 50%;
    /* box-shadow: 3px 3px 3px 0px gold; */
    border: 1px solid lightgray;
    top: 20px;
    left: 20px;
    /* background-image: url("./img/logo2.png"); */

}

.logo-text {
    width: 46%;
    height: 200px;
    /* background-color: rgba(255, 255, 255, 0.2); */
    position: absolute;
    z-index: 900;
    border-radius: 5%;
    bottom: 8%;
    left: calc(50% - 14%);
    /* transform: translate(-50%, -50%) */
    /* 因為aos tramsform translate 被複寫 不使用 */
}

.logo-text img {
    width: 80%;
    background-position: center;
}

@media(max-width:1199px) {
    .logo-text {
        width: 62%;
        /* top: calc(50% - 100px); */
        left: calc(50% - 20%);
    }

}

@media(max-width:992px) {


    .logo-text {
        width: 62%;
        /* top: calc(50% - 80px); */
        left: calc(50% - 25%);
    }


}

@media(max-width:768px) {


    .logo-text {
        width: 70%;
        /* top: calc(50% - 50px); */
        left: calc(50% - 30%);
    }


}

@media(max-width:576px) {
    .logo-text {
        width: 70%;
        /* top: calc(50% - 50px); */
        left: calc(50% - 35%);
    }

}


@media(max-width:375px) {
    .logo {
        display: none;
    }



    .nav-g {
        width: 50px;
        height: 50px;
    }

    .bar01 {
        width: 26px;

    }

    .bar02 {
        width: 26px;
        height: 2px;

    }

    .bar03 {
        width: 26px;
        height: 2px;

    }

    .bar04 {
        width: 26px;
        height: 2px;


    }

    .bar05 {
        width: 26px;

    }

    .nav-g:hover .bar02 {
        background-color: tomato;

        transform: translateY(3px) rotate(-25deg);

        transition-duration: 0.5s, 0.5s;

    }

    .nav-g:hover .bar03 {
        background-color: tomato;
        transform: rotate(-30deg);
        transform: translateX(1px);
        transition-duration: 0.5s, 0.5s;

    }

    .nav-g:hover .bar04 {
        background-color: tomato;
        transform: translateY(-3px) rotate(25deg);
        transition-duration: 0.5s, 0.5s;

    }



}
